<div class="main">
  <div class="main__overlay">
    <div class="main__title">
      MoneyMasters
    </div>
    <div class="main__optionsContainer">
      <div class="main__form">
        <h3 class="form__title">Log In</h3>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form__emailField">
            <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
          </div>

          <div class="form__pwField">
            <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form__loginToggle">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="form__submit">
            <%= f.submit "Enter" %>
          </div>
        <% end %>
        <div class="form__sharedLinks">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
