<div class="main">
  <div class="main__overlay">
    <div class="main__title">
      MoneyMasters
    </div>
    <div class="main__optionsContainer">
      <div class="main__form">
        <h3 class="form__title">Sign up</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form__emailField">
            <%= f.label 'Enter Your Email' %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form__pwField">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="form__pwField">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="form__submit">
            <%= f.submit "Join" %>
          </div>
        <% end %>
        <div class="form__sharedLinks">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
